h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
  color: #434455;
  letter-spacing: 0.02em;
}

.container {
  width: 100%;
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.header {
  box-sizing: border-box;
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.logo-first-word {
  color: #4d5ae5;
}

header .logo-second-word {
  color: #2e2f42;
}

.nav-section {
  display: none;
}

.nav-items {
  display: flex;
  gap: 40px;
}

.nav-item {
  position: relative;
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: 0.02em;
  display: inline-block;
  padding: 24px 0;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover,
.nav-item:focus,
.nav-item.is-active {
  color: #404bbf;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  background: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  opacity: 0;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover::after,
.nav-item:focus::after,
.nav-item.is-active::after {
  opacity: 1;
}

.address-section {
  margin-left: auto;
  display: none;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  display: inline-block;
  font-style: normal;
  color: #434455;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.header-mob-menuopen-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-mob-menu-icon {
  fill: #2f2f37;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 20;
  box-sizing: border-box;

  display: flex;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu-container {
  position: relative;
  width: 320px;
  height: 100%;
  padding: 72px 16px 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.mob-menu-nav-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: inline-block;
}

.mob-menu-nav-item .accent-mob-menu-nav {
  color: #404bbf;
}

.mob-menu-contact-section {
  width: 100%;
}

.mob-menu-address-section {
  margin-bottom: 48px;
}

.mob-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob-menu-address-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.accent-mob-menu-address {
  color: #4d5ae5;
}

.mob-menu-contact-section .mob-menu-social-icon-list {
  justify-content: space-between;
}

.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-image-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;

  @media screen and (min-resolution: 2x) {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-image-mob-2x.jpg);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-button {
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  letter-spacing: 0.04em;
  line-height: 1.5;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.main-title {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 216px;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-section {
  padding: 96px 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.feature-icon-wrapper {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  padding: 24px 100px;
  display: none;
}

.features-list-item {
  width: 100%;
}

.feature-card-title {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.feature-card-text {
  font-weight: 500;
}

.ourteam-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.ourteam-section > .container {
  max-width: 296px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.ourteam-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.ourteam-card {
  background-color: #ffffff;
  width: 264px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

.ourteam-card-content {
  padding: 32px 16px;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.card-text {
  text-align: center;
  margin-bottom: 8px;
}

.social-icon-list {
  display: flex;
  gap: 24px;
}

.social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
  animation: shake 1s;
}

.social-icon {
  fill: #f4f4fd;
}

.ourportfolio-section {
  padding: 96px 0;
}

.ourportfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.ourportfolio-image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hover-layer {
  position: absolute;
  inset: 0;
  background-color: #4d5ae5;

  padding: 40px 32px;

  opacity: 0;
  transform: translateY(100%);
  transition:
    opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.ourportfolio-card:hover .hover-layer,
.ourportfolio-card:focus .hover-layer {
  opacity: 1;
  transform: translateY(0);
}

.ourportfolio-card {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 100%;
}

.ourportfolio-card-content {
  width: 100%;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  box-sizing: border-box;
}

.ourportfolio-card-text {
  text-align: start;
}

.footer-section {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.footer-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}

.footer-logo {
  align-self: center;
  margin-bottom: 16px;
  display: inline-block;
}

footer .logo-second-word {
  color: #f4f4fd;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-span {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-section .social-icon-list {
  gap: 16px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.footer-form-title {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  background-color: transparent;
  outline: none;
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-form-input:focus {
  border-color: #31d0aa;
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-submit-button {
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  border: none;
  background: #4d5ae5;

  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 16px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-submit-button:hover,
.footer-form-submit-button:focus {
  background-color: #31d0aa;
}

.footer-form-icon {
  fill: #ffffff;
}

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  min-width: 288px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 16px 24px 16px;
  display: flex;
  flex-direction: column;
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  border-radius: 50%;

  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #e7e9fc;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background: #404bbf;
  border-color: #404bbf;
}

.modal-close-button:hover > .modal-close-icon,
.modal-close-button:focus > .modal-close-icon {
  fill: #ffffff;
}

.modal-title {
  color: #2e2f42;
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 8px;
}

.form-field-textarea {
  margin-bottom: 16px;
}

.input-wrapper {
  position: relative;
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.form-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border-color: #4d5ae5;
}

.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-field-checkbox {
  margin-bottom: 24px;
}

.form-label {
  display: flex;
  align-items: center;

  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.form-label-text {
  display: inline;
}

.form-checkbox:checked + .form-label .form-checkbox-custom {
  background-color: #404bbf;
  border-color: #404bbf;
  fill: #f4f4fd;
}

.form-checkbox-label {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.form-checkbox-label:hover,
.form-checkbox-label:focus,
.form-checkbox-label:visited {
  color: #404bbf;
}

.form-checkbox-custom {
  width: 16px;
  height: 16px;
  display: inline-block;
  flex-shrink: 0;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 8px;
  transition:
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit-button {
  border: none;
  border-radius: 4px;
  padding: 16px 65px;
  min-width: 169px;
  cursor: pointer;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;

  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  margin: 0 auto;
}

.form-submit-button:hover,
.form-submit-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .container,
  .ourteam-section > .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .header-section {
    padding: 0 16px;
  }

  .nav-section {
    display: block;
  }

  .header-mob-menuopen-btn {
    display: none;
  }

  .address-section {
    margin-left: 0;
    display: block;
  }

  .address-list {
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    padding: 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .hero-section {
    padding: 112px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-image-tab.jpg);

    @media screen and (min-resolution: 2x) {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-image-tab-2x.jpg);
    }
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .features-list {
    gap: 72px 24px;
  }

  .features-list-item {
    width: calc((100% - 24px) / 2);
  }

  .feature-card-title {
    text-align: left;
  }

  .ourteam-list {
    gap: 24px;
  }

  .ourportfolio-list {
    justify-content: center;
  }

  .ourportfolio-card {
    width: calc((100% - 24px) / 2);
  }

  .footer-container {
    justify-content: flex-start;
    padding-left: 108px;
  }

  .footer-info-social {
    display: flex;
    gap: 24px;
  }

  .footer-info {
    width: 264px;
    margin-bottom: 0;
  }

  .footer-logo {
    align-self: flex-start;
  }

  .footer-social {
    align-items: flex-start;
  }

  .footer-subscribe {
    align-items: start;
  }

  .footer-form {
    gap: 24px;
  }

  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}

/* --------------- */

@media screen and (min-width: 1158px) {
  .container,
  .ourteam-section > .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-section {
    justify-content: flex-start;
  }

  .header-logo {
    margin-right: 76px;
  }

  .address-section {
    margin-left: auto;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .hero-section {
    padding: 188px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-image.jpg);

    @media screen and (min-resolution: 2x) {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-image-2x.jpg);
    }
  }

  .main-title {
    margin-bottom: 48px;
  }

  .features-section {
    padding: 120px 0;
  }

  .features-list {
    gap: 24px;
  }

  .feature-icon-wrapper {
    display: block;
    box-sizing: border-box;
  }

  .features-list-item {
    width: 264px;
  }

  .feature-card-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    padding: 8px 0;
  }

  .ourteam-section {
    padding: 120px 0;
  }

  .ourportfolio-card {
    box-shadow: none;
    transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
  }

  .ourportfolio-card:hover,
  .ourportfolio-card:focus {
    box-shadow:
      0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .footer-section {
    padding: 100px 0;
  }

  .footer-container {
    align-items: baseline;
  }

  .footer-info-social {
    gap: 120px;
  }

  .footer-subscribe {
    margin-left: auto;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
